<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tk.wmss.firstlinecode">

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity android:name=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".DirectoryActivity"/>
		<activity android:name=".firstchapter.FirstChapterActivity"/>
		<activity android:name=".firstchapter.HelloWorldActivity"/>
		<activity android:name=".firstchapter.LogCatActivity"/>
		<activity android:name=".secondchapter.SecondChapterActivity"/>
		<activity android:name=".secondchapter.IntentActivity"/>
		<activity android:name=".secondchapter.TestGoToActivity">
			<intent-filter>
				<action android:name="tk.wmss.firstlinecode.ACTION_START"/>
				<!--替换上方的标签使得TestActivity可以响应打开网址-->
				<!--<action android:name="android.intent.action.VIEW" />-->

				<category android:name="tk.wmss.firstlinecode.MY_CATEGORY"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<!--添加如下标签，使得TestActivity可以响应打开网址-->
				<!--<data android:scheme="http" />-->
			</intent-filter>
		</activity>
		<activity android:name=".secondchapter.IntentPassData"/>
		<activity android:name=".secondchapter.ActivityLifecycle"/>
		<activity
			android:name=".secondchapter.TestActivityLifecycle"
			android:theme="@style/Theme.myCustom"/>
		<activity android:name=".secondchapter.StartupModeActivity"/>
		<activity android:name=".secondchapter.StartupMode.StandardModeActivity"/>
		<activity
			android:name=".secondchapter.StartupMode.SingleTopModeActivity"
			android:launchMode="singleTop"/>
		<activity
			android:name=".secondchapter.StartupMode.SingleTopModeTestActivity"
			android:launchMode="singleTop"/>
		<activity
			android:name=".secondchapter.StartupMode.SingleTaskModeActivity"
			android:launchMode="singleTask"/>
		<activity android:name=".secondchapter.StartupMode.SingleTaskModeTestActivity"/>

		<activity
			android:name=".secondchapter.StartupMode.SingleInstanceModeActivity"
			android:launchMode="singleInstance"/>

		<activity android:name=".secondchapter.StartupMode.SingleInstanceModeTestActivity"/>

	</application>

</manifest>