<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tk.wmss.firstlinecode">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DirectoryActivity" />
        <activity android:name=".firstchapter.FirstChapterActivity" />
        <activity android:name=".firstchapter.HelloWorldActivity" />
        <activity android:name=".firstchapter.LogCatActivity" />
        <activity android:name=".secondchapter.SecondChapterActivity" />
        <activity android:name=".secondchapter.IntentActivity" />
    </application>

</manifest>